@model GaithAlQuraniProject.Models.NewRegisteredStudent

@{
    ViewData["Title"] = "تسجيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section></section>



    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
              <div class="mb-2">
           <button class="btn btn-secondary  read-more-btn btn-sm " runat="server" style="  position: fixed; width:50px; height: 50px;"><i class="far fa-question-circle fa-2x"></i></button>
            <div class="read-more-title"  thevalue=" ما هو برنامج غيث القرآني "></div>
            <div class="read-more-content" thevalue="هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق.
هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً."> 
    </div>    
    </div>
    <div>
           <button class="btn btn-danger read-more-btn-second mt-5 btn-sm" runat="server" style=" margin-top: 1rem; width:50px; height: 50px; position: fixed;"><i class="fas fa-exclamation fa-2x"></i></button>
            <div class="read-more-title-second"  thevalue=" شروط برنامج غيث القرآني "></div>
            <div class="read-more-content-second" thevalue="هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.
ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق.
هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً."> 
    </div>
      </div>
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>التسجيل في البرنامج</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <form asp-action="Create" method="post" role="form"  data-aos="fade-up" data-aos-delay="100">
          <div class="row">
             <div class="col-md-3 form-group mt-3 ">
              <input type="text"  class="form-control"  asp-for="Country" placeholder="الدولة">
            </div> 
            <div class="col-md-3 form-group mt-3 ">
              <input type="tel" class="form-control" asp-for="phoneNumber" placeholder="رقم الجوال">
              <div class="validate"></div>
            </div>
            <div class="col-md-3 form-group mt-3">
              <input type="password"  class="form-control" id="passwordField" runat="server" asp-for="Password" placeholder="كلمة المرور">
              <label class="mt-2" style="float: left"> <input type="checkbox" id="checkBoxPass"  /> أظهر كلمة المرور</label>
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-3 form-group mt-3">
              <input type="text"  class="form-control"  asp-for="Name" placeholder="الاسم">
              <div class="validate"></div>
            </div>
          </div>
              @Html.ValidationMessageFor(m => m.Rewayah)
          <div class="row ">
            <div class="col-md-3 form-group mt-3 mr-2 ml-2">
              
            </div>
             <div class="col-md-3 form-group mt-3 "> @* must add label  *@
              <input type="text"  class="form-control"  asp-for="StudentNotes" placeholder="ملاحظات">
            </div>
            <div class="col-md-3 form-group mt-3">
              <select asp-for="CallingProgram" class="form-select" >
                <option value="تليقرام">تليقرام</option>
                <option value="ايمو">ايمو</option>
                <option value="اتصال">اتصال</option>
                <option value="واتساب">واتساب</option>
                <option value="واتساب">واتساب</option>
              </select>
              <div class="validate"></div>
            </div>
          <div class="col-md-3 form-group mt-3">
             <select  class="form-select" asp-for="Rewayah"  > 
              <option selected>الرواية</option> @* check its validation *@
                <option value="حفص عن عاصم">حفص عن عاصم</option>
                <option value="ورش عن نافع">ورش عن نافع</option>
                <option value="قالون عن نافع">قالون عن نافع</option>
                <option value="شعبة عن عاصم">شعبة عن عاصم</option>
                <option value="قنبل عن ابن كثير">قنبل عن ابن كثير</option>
                <option value="البزي عن ابن كثير">البزي عن ابن كثير</option>
                <option value="الدوري عن ابو عمرو">الدوري عن ابو عمرو</option>
                <option value="السوسي عن ابو عمرو">السوسي عن ابو عمرو</option>
                <option value="هشام عن ابن عام">هشام عن ابن عامر</option>
                <option value="ابن ذكوان عن ابن عامر">ابن ذكوان عن ابن عامر</option>
                <option value="خلف عن حمزة">خلف عن حمزة</option>
                <option value="خلاد عن حمزة">خلاد عن حمزة</option>
                <option value="ابو الحارث عن الكسائي">ابو الحارث عن الكسائي</option>
                <option value="الدوري عن الكسائي">الدوري عن الكسائي</option>
              </select>
            </div>
          </div>

                      
           
          <div class="row mt-4" >
             <input type="text"  class="form-control"  asp-for="SuitableTime" hidden>
             <label class="control-label mt-1 " style="text-align: right; float: right; " >الوقت المناسب للتسميع مع الصديقة </label>
             <label class="control-label mt-2 " style="text-align: right; float: right; color: red;" > *بتوقيت مكة المكرمة</label>
                 <div class="col-md-2 form-group mt-3">
                     
                </div>
                <div class="col-md-2 form-group mt-3">
                    
                </div>
                <div class="col-md-2 form-group mt-4"> @* add value to the timer *@
                     
                     <ej-time-picker id="timeEnd" min-time="12:00 AM" max-time="11:59 PM" interval="60"  class="form-control" enable-rtl="true"></ej-time-picker>
                </div>
                <div class="col-md-2 form-group mt-3">
                     <label class="control-label">نهاية الوقت </label>
                </div>
                 <div class="col-md-2 form-group mt-4 ">
                     
                     <ej-time-picker   id="timeStart" min-time="12:00 AM" max-time="11:59 PM" interval="60" class="form-control" enable-rtl="true"></ej-time-picker>
                </div>
                <div class="col-md-2 form-group mt-3">
                    <label class="control-label"> بداية الوقت </label>
                </div>
            </div>


          <div class="row" style="text-align: right;">
             <div class="col-md-3 form-group mt-3"> @* must add label  *@  
             <input type="text"  class="form-control" value="لم يتم النحديد بعد"  asp-for="ExamTeacher" hidden>
            </div>

            <div class="col-md-3 form-group mt-3">
                <input type="text"  class="form-control" value="لم يتم النحديد بعد" asp-for="CallingProgramExam" hidden>
              
            </div>
            <div class="col-md-3 form-group mt-3"> @* must add label  *@
              <input type="text"  class="form-control" value="لم يتم النحديد بعد" asp-for="SuitableTimeExam" hidden>
              @* https://stackoverflow.com/questions/37778489/how-to-make-check-box-list-in-asp-net-mvc *@ @* checkBox *@
            </div> 
            <div class="col-md-3 form-group mt-3"> @* must add label  *@
              <input type="text"  class="form-control" value="ليس هناك ملاحظات" asp-for="TeacherNotes" hidden>
            </div>  
            <div class="col-md-3 form-group mt-3"> @* must add label  *@
              <input type="text"  class="form-control" value="لم يتم النحديد بعد" asp-for="GaithGroup" hidden>
            </div>  
            <div class=" form-group mt-3"> @* must add label  *@
              <input type="text"  class="form-control" value="لم يتم النحديد بعد" asp-for="ExamPassed" hidden>
            </div>        

          </div>
           
          <div class="text-center"><input type="submit" value="تسجيل"  class="btn btn-click"  
                style=" background: #2eced9;
                border: 0;
                padding: 10px 30px;
                color: #fff;
                transition: 0.4s;
                border-radius: 4px;
                margin-top: 2rem;
                text-align: center;
                font-family: 'Dubai', sans-serif;" />
           </div>
        </form>

      </div>
    </section><!-- End Appointment Section -->
    
    @section Scripts {
    <script>

        $(document).ready(function () {

         $("#timeStart").ejTimePicker({  value : "5:10 PM" });
         $("body").on("click", ".btn-click", function () {
              $("#timeStart").ejTimePicker({  value : "5:10 PM" });
             var b = $('#timeStart').val();
             var d = $('#timeEnd').val();
                document.getElementById("SuitableTime").value = b+ " - " +d;
                
            }); 


            $("body").on("click", ".read-more-btn", function () {

                 Swal.fire({
                    title: $(this).parent().find(".read-more-title").attr("thevalue"),
                        icon: 'info',
                        html:
                            $(this).parent().find(".read-more-content").attr("thevalue"),
                        showCloseButton: true,
                        showCancelButton: false,
                        focusConfirm: false,
                        showConfirmButton: false,
                        footer: '   '
                    });
            }); 

                $("body").on("click", ".read-more-btn-second", function () {

                 Swal.fire({
                    title: $(this).parent().find(".read-more-title-second").attr("thevalue"),
                        icon: 'info',
                        html:
                            $(this).parent().find(".read-more-content-second").attr("thevalue"),
                        showCloseButton: true,
                        showCancelButton: false,
                        focusConfirm: false,
                        showConfirmButton: false,
                        footer: '   '
                    });
            }); 

            $("#checkBoxPass").click(function(){

                //var currentPasswordField= $('#passwordField');
               // var currentPassword=currentPasswordField.val();
               // currentPasswordField.remove();

                if($(this).is(':checked'))
                {
                    $("#passwordField").attr("type", "text");
                   // $(this).before('<input type="text"  class="form-control" id="passwordField"  asp-for="Password" placeholder="كلمة المرور" value="'+currentPassword+ '">');
                }
                else
                {
                    $("#passwordField").attr("type", "password");
                   // $(this).before('<input type="password"  class="form-control" id="passwordField"  asp-for="Password" placeholder="كلمة المرور" value="'+currentPassword+ '">');
                }
                 
            });
               
        });


        


    </script>
     <partial name="_ValidationScriptsPartial" />
}


