@model GaithAlQuraniProject.Models.NewRegisteredStudent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rewayah" class="control-label"></label>
                <input asp-for="Rewayah" class="form-control" />
                <span asp-validation-for="Rewayah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallingProgram" class="control-label"></label>
                <input asp-for="CallingProgram" class="form-control" />
                <span asp-validation-for="CallingProgram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuitableTime" class="control-label"></label>
                <input asp-for="SuitableTime" class="form-control" />
                <span asp-validation-for="SuitableTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
<section></section>
    <section id="appointment" class="appointment section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>تحديث البيانات</h2>
        </div>

        <form asp-action="StudentEdit" method="post" role="form"  data-aos="fade-up" data-aos-delay="100">
          <input type="hidden" asp-for="Id" />
          <div class="row">
             <div class="col-md-3 form-group mt-3 mt-md-0">
              <input type="text"  class="form-control"  asp-for="Country" placeholder="الدولة">
            </div> 
            <div class="col-md-3 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" asp-for="phoneNumber" placeholder="رقم الجوال">
              <div class="validate"></div>
            </div>
            <div class="col-md-3 form-group">
              <input type="text"  class="form-control"  asp-for="Name" placeholder="الاسم">
              <div class="validate"></div>
            </div>
          </div>
              @Html.ValidationMessageFor(m => m.Rewayah)
          <div class="row">
            <div class="col-md-3 form-group mt-3">
              <select asp-for="CallingProgram" class="form-select" >
                <option value="تليقرام">تليقرام</option>
                <option value="ايمو">ايمو</option>
                <option value="اتصال">اتصال</option>
                <option value="واتساب">واتساب</option>
                <option value="واتساب">واتساب</option>
              </select>
              <div class="validate"></div>
            </div>
           <div class="col-md-3 form-group mt-3">
             <select  class="form-select" asp-for="Rewayah"  > 
              <option selected>الرواية</option> @* check its validation *@
                <option value="حفص عن عاصم">حفص عن عاصم</option>
                <option value="ورش عن نافع">ورش عن نافع</option>
                <option value="قالون عن نافع">قالون عن نافع</option>
                <option value="شعبة عن عاصم">شعبة عن عاصم</option>
                <option value="قنبل عن ابن كثير">قنبل عن ابن كثير</option>
                <option value="البزي عن ابن كثير">البزي عن ابن كثير</option>
                <option value="الدوري عن ابو عمرو">الدوري عن ابو عمرو</option>
                <option value="السوسي عن ابو عمرو">السوسي عن ابو عمرو</option>
                <option value="هشام عن ابن عام">هشام عن ابن عامر</option>
                <option value="ابن ذكوان عن ابن عامر">ابن ذكوان عن ابن عامر</option>
                <option value="خلف عن حمزة">خلف عن حمزة</option>
                <option value="خلاد عن حمزة">خلاد عن حمزة</option>
                <option value="ابو الحارث عن الكسائي">ابو الحارث عن الكسائي</option>
                <option value="الدوري عن الكسائي">الدوري عن الكسائي</option>
              </select>
            </div>
            <div class="col-md-3 form-group mt-3">
                <h5>الوقت المناسب للتسميع مع الصديقة</h5>
                <h6>@Model.SuitableTime</h6>
             <input type="text"  class="form-control"  asp-for="SuitableTime" hidden>
            </div> 
            <div class="col-md-3 form-group mt-3">
              <input type="text"  class="form-control"  asp-for="StudentNotes" placeholder=" ملاحظات">
            </div>
            </div>
           <div class="row" style="text-align: right;">
             <div class="col-md-3 form-group mt-3"> @* must add label  *@  
             <input type="text"  class="form-control" value="لم يتم النحديد بعد"  asp-for="ExamTeacher" hidden>
            </div>

            <div class="col-md-3 form-group mt-3">
                <input type="text"  class="form-control" value="لم يتم النحديد بعد" asp-for="CallingProgramExam" hidden>
              
            </div>
            <div class="col-md-3 form-group mt-3"> @* must add label  *@

              <input type="text"  class="form-control" value="لم يتم النحديد بعد" asp-for="SuitableTimeExam" hidden>
              @* https://stackoverflow.com/questions/37778489/how-to-make-check-box-list-in-asp-net-mvc *@ @* checkBox *@
            </div> 
            <div class="col-md-3 form-group mt-3"> @* must add label  *@
              <input type="text"  class="form-control" value="ليس هناك ملاحظات" asp-for="TeacherNotes" hidden>
            </div>  
            <div class="col-md-3 form-group mt-3"> @* must add label  *@
              <input type="text"  class="form-control" value="لم يتم النحديد بعد" asp-for="GaithGroup" hidden>
            </div>        

          </div>
          <label class="control-label mt-3 " style="text-align: right; float: right; color: red;" > *بتوقيت مكة المكرمة</label>
          <div class="row mt-4" >
              @*<input type="text"  class="form-control"  asp-for="SuitableTime" disabled>*@
                 <div class="col-md-2 form-group mt-3">
                     
                </div>
                <div class="col-md-2 form-group mt-3">
                    
                </div>
                <div class="col-md-2 form-group mt-4">
                     
                     <ej-time-picker id="timeEnd" min-time="12:00 AM" max-time="11:59 PM" interval="60" class="form-control" enable-rtl="true"></ej-time-picker>
                </div>
                <div class="col-md-2 form-group mt-3">
                     <label class="control-label">نهاية الوقت المناسب للتسميع مع الصديقة</label>
                </div>
                 <div class="col-md-2 form-group mt-4 ">
                     
                     <ej-time-picker   id="timeStart" min-time="12:00 AM" max-time="11:59 PM" interval="60" class="form-control" enable-rtl="true"></ej-time-picker>
                </div>
                <div class="col-md-2 form-group mt-3">
                    <label class="control-label"> بداية الوقت المناسب للتسميع مع الصديقة</label>
                </div>
            </div>
          <div class="text-center"><input type="submit" value="تحديث" class="btn btn-click"
                style=" background: #2eced9;
                border: 0;
                padding: 10px 30px;
                color: #fff;
                transition: 0.4s;
                border-radius: 4px;
                margin-top: 2rem;
                text-align: center;
                font-family: 'Dubai', sans-serif;" />
                </div>
                @* check how asp.net did the link of go back, or chnage the place of button or right another code *@
                 <div class="text-center"><input type="submit" asp-action="StudentIndex_"  value="الرجوع إلى السابق" class="btn btn-secondary"
                style=" 
                border: 0;
                padding: 7px 25px;
                transition: 0.4s;
                border-radius: 4px;
                margin-top: 2rem;
                text-align: center;
                font-family: 'Dubai', sans-serif;" />
      </div>
        </form>
      </div>  
    </section>


        @section Scripts {
    <script>

        $(document).ready(function () {


         $("body").on("click", ".btn-click", function () {
             var b = $('#timeStart').val();
             var d = $('#timeEnd').val();
                document.getElementById("SuitableTime").value = b+ " - " +d;
                
            }); 
               
        });
    </script>
}