@model GaithAlQuraniProject.Models.NewRegisteredStudent

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rewayah" class="control-label"></label>
                <input asp-for="Rewayah" class="form-control" />
                <span asp-validation-for="Rewayah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallingProgram" class="control-label"></label>
                <input asp-for="CallingProgram" class="form-control" />
                <span asp-validation-for="CallingProgram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuitableTime" class="control-label"></label>
                <input asp-for="SuitableTime" class="form-control" />
                <span asp-validation-for="SuitableTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
<section></section>
    <section id="appointment" class="appointment section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>تحديث البيانات</h2>
        </div>

        <form asp-action="StudentEdit" method="post" role="form"  data-aos="fade-up" data-aos-delay="100">
          <input type="hidden" asp-for="Id" />
          <div class="row">
             <div class="col-md-3 form-group mt-3 mt-md-0">
              <input type="text"  class="form-control"  asp-for="Country" placeholder="الدولة">
            </div> 
            <div class="col-md-3 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" asp-for="phoneNumber" placeholder="رقم الجوال">
              <div class="validate"></div>
            </div>
            <div class="col-md-3 form-group">
              <input type="text"  class="form-control"  asp-for="Password" placeholder="كلمة المرور">
              <span asp-validation-for="Password" class="text-danger"></span>
            </div> @* ??/ delete or leave it *@
            <div class="col-md-3 form-group">
              <input type="text"  class="form-control"  asp-for="Name" placeholder="الاسم">
              <div class="validate"></div>
            </div>
          </div>
              @Html.ValidationMessageFor(m => m.Rewayah)
          <div class="row">
            <div class="col-md-4 form-group mt-3">
              <select asp-for="CallingProgram" class="form-select" >
                <option value="تليقرام">تليقرام</option>
                <option value="ايمو">ايمو</option>
                <option value="اتصال">اتصال</option>
                <option value="واتساب">واتساب</option>
                <option value="واتساب">واتساب</option>
              </select>
              <div class="validate"></div>
            </div>
          <div class="col-md-4 form-group mt-3">
             <select  class="form-select" asp-for="Rewayah"  > 
              <option selected>الرواية</option> @* check its validation *@
                <option value="حفص">حفص عن عاصم</option>
                <option value="ورش">ورش عن نافع</option>
                <option value="قالون">قالون عن نافع</option>
                <option value="شعبة">شعبة عن عاصم</option>
                <option value="قنبل">قنبل عن ابن كثير</option>
                <option value="البزي">البزي عن ابن كثير</option>
                <option value="الدوري">الدوري عن ابو عمرو</option>
                <option value="السوسي">السوسي عن ابو عمرو</option>
                <option value="هشام">هشام عن ابن عامر</option>
                <option value="ابن ذكوان">ابن ذكوان عن ابن عامر</option>
                <option value="خلف">خلف عن حمزة</option>
                <option value="خلاد">خلاد عن حمزة</option>
                <option value="ابو الحارث ">ابو الحارث عن الكسائي</option>
                <option value="الدوري عن الكسائي">الدوري عن الكسائي</option>
              </select>
            </div>
            <div class="col-md-4 form-group mt-3">
              <input type="text"  class="form-control"  asp-for="SuitableTime" placeholder="الوقت المناسب">
            </div>
          <div class="text-center"><input type="submit" value="تحديث" class="btn"
                style=" background: #2eced9;
                border: 0;
                padding: 10px 30px;
                color: #fff;
                transition: 0.4s;
                border-radius: 4px;
                margin-top: 2rem;
                text-align: center;
                font-family: 'Dubai', sans-serif;" />
                </div>
                 <div class="text-center"><input type="submit" asp-action="StudentIndex_"  value="الرجوع إلى السابق" class="btn btn-secondary"
                style=" 
                border: 0;
                padding: 7px 25px;
                transition: 0.4s;
                border-radius: 4px;
                margin-top: 2rem;
                text-align: center;
                font-family: 'Dubai', sans-serif;" />
      </div>
        </form>
        
    </section>