@model GaithAlQuraniProject.Models.RegistrationForm


                <form asp-action="SaveRegistratonForm" role="form">
          <div class="row">
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" asp-for="phoneNumber" placeholder="  (رقم جوال (واتساب " >
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input  class="form-control" name="email" id="email" placeholder="الدولة" >
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <input type="text" asp-for="Name" class="form-control"  placeholder="اسمك" >
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input  class="form-control" asp-for="GaithGroupId" value="@Model.GaithGroupId" hidden>
              <div class="validate"></div>
            </div>
          </div>
          <div class="row">
           @*   <div class="col-md-4 form-group mt-3">
              <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>*@
            <div class="col-md-4 form-group mt-3">
              <select name="department" id="department" class="form-select"> @* from db *@
                <option value="">الرواية</option>
                <option value="Department 1">حفص</option>
                <option value="Department 2">ورش</option>
                <option value="Department 3">قارون</option>
              </select>
              <div class="validate"></div>
            </div>
          @*   <div class="col-md-4 form-group mt-3">
              <select name="doctor" id="doctor" class="form-select">
                <option value="">Select Doctor</option>
                <option value="Doctor 1">Doctor 1</option>
                <option value="Doctor 2">Doctor 2</option>
                <option value="Doctor 3">Doctor 3</option>
              </select>
              <div class="validate"></div>
            </div>*@
          </div>
          @*  
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
            <div class="validate"></div>
          </div>*@
          <div class="modal-footer mt-3">
          <div class="text-center"><button class="btn btn-primary" type="submit" style="float: left;">تسجيل</button></div>
        </form>




